body {
    margin: 75px 0;
}

.mainBody {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.left {
    background: lavender;
    max-width: 35%;
    min-width: 550px;
    display: flex;
    flex-direction: column;
}

.right {
    background: lightblue;
    display: flex;
    flex-direction: column;
    max-width: 35%;
    min-width: 250px;
}

.input {
    display: inline-block;
    max-width: 60px;
    margin: 5px 0;
    min-width: 60px;
    margin: 2px 5px;
}

.maindiv {
    padding: 25px auto;
    
}

.counter {
    margin: 15px 0;
    background: lightyellow;
    max-width: 35%;
    min-width: 550px;
}

.addNew {
    width: 100%;
    height: 150px;
    background: lightgrey
}

#inputName {
    background: lightgreen;
    min-width: 150px;
}

.fighter {
    background: lightcyan;
}