@import url('https://fonts.googleapis.com/css?family=Spectral+SC:400,800');
@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

body {
    background: black;
}


.header {
    display: flex;
    justify-content:space-around; 
    margin: 35px auto;
    width: 900px;
}

.logo {
    background-image: url('./img/logo.jpg');
    height: 145px;
    width: 425px;
    background-repeat: no-repeat;
    margin-left: 35px;
}

.headpic {
    background-image: url('./img/Header.jpg');
    height: 145px;
    width: 425px;
    background-repeat: no-repeat;
    margin-right: 35px;
    border-radius: 15px;
}

.mainBody {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin: 15px auto;
    width: 900px;
    padding: 15px 0 45px 0;
    background-image: url('./img/Wood1.jpg');
}

.top {
    display: flex;
    margin-bottom: 30px;
}

.bottom {
    display: flex;
    
}
.left {
    padding: 25px 20px;
    max-width: 35%;
    min-width: 525px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    background: rgba(218, 197, 182, 0.75);
    border-radius: 25px;
}

.right {
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    max-width: 35%;
    min-width: 300px;
    margin: 20px auto;
    background: rgba(218, 197, 182, 0.75);
    border-radius: 25px;
}

.input {
    max-width: 50px;
    min-width: 50px;
    margin: 2px 5px;
    text-align: center;
}

.counter {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 75%;
}


.counterMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.counterSide {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 325px;
}

.addNew {
    width: 100%;
    height: 150px;
}

#inputName {
    min-width: 150px;
    text-align: left;
}

.fighter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 0;
}

.fighters {
    display: flex;
    justify-content: center;
}

#graveyard {
    min-width: 110px
}

#color {
    height: 15px;
    border-radius: 15px;
    min-width: 15px;
    margin: 5px;
}


#colorhead {
    height: 15px;
    border-radius: 15px;
    min-width: 15px;
    margin: 5px;
}

.border {
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 225px;
    margin: 0 auto;
}

.mainborder {
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 5px auto;
}

input {
    text-align: center;
    font-family: 'Spectral SC', serif;
    border: none;
    background: radial-gradient(#ffffff,#ffffff25,#ffffff00);
    border-radius: 25px;
}

button {
    text-align: center;
    font-family: 'Spectral SC', serif;
    border: none;
    background: radial-gradient(#ffffff,#ffffff25,#ffffff00);
    border-radius: 25px;;
}

button:hover {
    background: radial-gradient(#ffffff,#ffffff75,#ffffff25);
}

.top {
    margin: 5px;
}

.innerModal {
    width: 50%;
    height: auto;
}

#button {
    color: rgb(151, 23, 21);
    font-size: 50px;
    background: rgba(255, 255, 255, 0);
    font-weight: 800;
    font-family: 'MedievalSharp';
}

.workspace {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.modalOuter {
    position: relative;
    background-image: url("./img/ToP.png");
    margin: -20px;
    width: 444px;
    height: 460px;
}

.modalInner {
    position: absolute;
    left: 147px;
    top: 155px;
    background: rgba(218, 197, 182, .75);
    width: 150px;
    height: 150px;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
}

#modalInput {
    margin-top: 15px;
    max-width: 100px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    font-weight: 800;
    font-size: 15px;
    color: rgb(151, 23, 21)
}

#modalWord {
    color: rgb(179, 45, 0);
    font-weight: 800;
}

.outModalNew {
    display: flex;
    flex-direction: column;
    background-color:rgba(218, 197, 182, 1);
    margin: -20px;
    width: 499px;
    height: auto;
    position: relative;
}

.modalBanner {
    background-image: url('./img/AddNew.png');
    height: 200px;
    width: 1000px;
    background-repeat: no-repeat;
}

.modalBannerEdit {
    background-image: url('./img/edit.jpg');
    height: 200px;
    width: 999px;
    background-repeat: no-repeat;
}

.inModalNew {
    display: flex;
}

.modalLeft {
    margin: 15px;
}

.modalRight {
    margin: 0 25px 0 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newCombat {
    color: rgba(33, 53, 80, 1);
    margin-top: 40px;
    text-align: center;
}

#modalNewInput {
    margin-top: 25px;
    max-width: 150px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    font-weight: 400;
    font-size: 13px;
    height: 20px;
    color: rgba(33, 53, 80, 1);
}

#modalNewButton {
    margin-top: 50px;
    background: rgba(33, 53, 80, 1);
    color: rgba(218, 197, 182, 1);
    width: 75px;
    height: 25px;
    border-radius: 7px;
    font-family: 'MedievalSharp';
}

#editSubtitle {
    font-size: 10px;
    text-align: center;
}

#editmark {
    margin-top: 15px;
    font-size: 17px;
}

#editinput {
    margin-top: 10px;
    max-width: 150px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    font-weight: 400;
    font-size: 13px;
    height: 20px;
    color: rgba(33, 53, 80, 1);
}

.statusOuter {
    position: fixed;
    bottom: 0;
    max-width: 900px;
    display: flex;
    justify-content: space-around;
}

.statusInner {
    background: rgba(218, 197, 182, 0.75);
    padding: 10px 10px 5px 10px;
    min-width: 125px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0 15px;
}

/* =============================================== */
h1 {
    font-weight: 800;
    font-size: 20px;
    margin: 15px 0;
    color: rgb(151, 23, 21);
}

h2 {
    font-weight: 800;
    font-size: 15px;
    margin: 15px 0;
    color: rgb(151, 23, 21);
    border-bottom: 1px solid black
}

h3 {
    font-weight: 800;
    font-size: 15px;
    margin: 15px 0;
    color: black;
}

h4 {
    font-weight: 800;
    font-size: 25px;
    margin: 15px 0;
    color: white;
    font-family: 'MedievalSharp';
    position: relative;
    left: 123px;
    top: 90px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; 
}

h5 {
    font-weight: 800;
    font-size: 15px;
    color: rgb(103, 21, 151);
    border-bottom: 1px solid black
}

h6 {
    font-size: 25px;
    font-family: 'MedievalSharp';
    margin-top: 5px;
}